@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    padding: 2% 5% 0 5%;
}

/* top-section */
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    border-radius: 30px;
    padding: 20px 50px 0 60px;
    background: #232326;
}

.top-section-text {
    width: 800px;
    color: white;
    padding-bottom: 40px;
}

.top-section-text h1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    margin: 0 0 10px 0;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.top-section-text p {
    font-size: 15px;
    line-height: 25px;
    padding-top: 25px;
    margin-bottom: 25px;
}

.top-section-text button {
    background-color: rgb(249, 65, 32);
    padding: 15px;
    border-radius: 7px;
}

.top-section-text button a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;

}

.top-section-text-button :hover {
    background: #e41212;
    box-shadow: 0px 2px 8px #e41212;
}

.top-section img {
    width: 400px;
    height: 550px;
    padding-right: 50px;

}

/* sceond section */
.sceond-section {
    margin: 100px 0px 100px 0px;
    display: flex;
    gap: 50px;
}

.side-menu {
    width: 300px;
    height: 350px;
    background-color: rgb(3, 59, 148);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;

}

.menu-button {
    width: 250px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background-color: white;
    border-radius: 14px;
}

.menu-button:hover {
    box-shadow: 1px 1px 5px aliceblue;
}

.blog-link-button {
    background: #DD0000;
}

.menu-button a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin: 30px;
}

#blog-link {
    color: aliceblue;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.match {
    width: 350px;
    height: 220px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.team img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 0px 20px;
}

.match-info {
    text-align: center;
    line-height: 20px;
}



/********* footer *******/
footer {
    width: 100%;
    height: 400px;
    background-color: #161616;
}

footer header {
    padding: 50px 0px 20px 0px;
    text-align: center;
    color: antiquewhite;
    font-size: 50px;
}

footer hr {
    width: 80%;
    border-top: 0.5px solid #ffffff;
    opacity: .1;
}

.links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 0%;
}

.links ul>li>a {
    text-decoration: none;
    color: white;
    margin: 0px 30px 0px 30px;
}

.links ul>li>a :hover {
    background-color: red;
}

.social-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.social-links ul>li>a {
    text-decoration: none;
    color: white;
    margin: 0px 30px 0px 20px;
}

ul li a {
    display: block;
}

.links ul li a:hover,
.links ul li a:focus {
    color: red;
}

/* Media quarees */
/* // Small devices (576px and up) */
@media screen and (max-width:577px) {
    .top-section {
        flex-direction: column;
        height: auto;
    }

    .top-section-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0 20px 0;

    }

    .top-section-text h1 {
        font-size: 27px;
        line-height: 30px;
        text-align: center;
        margin: 0;
    }

    .top-section-text p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        text-align: center;
        margin-bottom: 20px;
    }


    .top-section img {
        width: 200px;
        height: 320px;
    }

    .sceond-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0px 50px 0px;

    }

    .side-menu {
        background: none;
    }

    .menu-button {
        border: 1px solid rgb(70, 80, 80);
    }

    .upcoming-match {
        padding: 0px 40px 0px 40px;
    }

    .matches {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        width: 100%;
        height: auto;
    }

    .links>ul {
        flex-direction: column;
        align-items: center;
    }

    .links>ul>li {
        text-align: center;
        margin: 0px 0px 40px 0px;
    }

    .social-links>ul {
        padding: 0px;
    }

    .social-links>ul>li {
        width: 70px;
        height: 30px;
        text-align: center;
    }

    .social-links>ul>li>a {
        font-size: 20px;
        line-height: 15px;
        color: #f9f9fa;
    }
}

/* Tablet view */
@media screen and (min-width:769px) and (max-width: 992px) {
    .top-section {
        height: 380px;
        padding: 20px 20px 0 40px;
    }

    .top-section-text h1 {
        font-size: 35px;
        line-height: 30px;
        margin: 0;
    }

    .top-section-text p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        margin-bottom: 20px;
    }

    .top-section img {
        width: 280px;
        height: 370px;
        margin-top: 15px;
    }

    .sceond-section {
        flex-direction: column;
        margin: 40px 0px 40px 0px;

    }

    .side-menu {
        background: none;
        width: auto;
        height: auto;
        flex-direction: row;
    }

    .menu-button {
        border: 1px solid rgb(70, 80, 80);
    }

    .menu-button a {
        font-size: 16px;
    }

    .matches {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        height: 25em;
    }

    .links>ul {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .links>ul>li {
        text-align: center;
        padding: 0px 0px 30px 0px;
    }

    .social-links>ul {
        margin-top: 40px;

    }

    .social-links>ul>li {
        width: 95px;
        text-align: center;
    }

    .social-links>ul>li>a {
        font-size: 25px;
        line-height: 10px;
        color: #f9f9fa;
    }
}